* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



bg-light {
    background-color: #f8f9fa!important;
}
 

.main-body {  
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    justify-content: center;  
}

.main-body2 {  
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    justify-content: center;   
}

.main {
    display: block;
    width: 432px;
    height: 230px;
    margin: 125px 75px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    position: relative; 
    box-sizing: border-box;      
    background-color: rgb(255, 244, 244); 
}
 

#img1 {
    position: absolute;    
    top: -90px;
    left: 50%;
    width: 140px;
    height: 140px; 
    transform: translateX(-50%);
    border-radius: 50%;
    border: 6px solid #d62828;
    /* border: 1px solid #e0e0e0;  */
}
 
 
.content {
    margin: 48px 0px 0px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 1rem;
    color: #300000;
    font-family: 'Kanit', sans-serif;
        
    
}

.content h3{
    margin-bottom: 13px;
    font-family: 'Kanit', sans-serif;
}

.content p {
    color: #666666;
    font-size: 17px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

/* youtuber perspective */
.box-item {
    display: block;
    width: 480px;
    height: 290px;
    margin: 25px 75px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box; 
    position: relative;
    border: 2px solid #ea9393; 
    background-color: rgb(255, 244, 244);
}

.box-item img {
    margin: 1rem;
    height: 130px;
    width: 130px;
    border: 1px solid rgb(201, 201, 201); 
    border-radius: 10px;
    /* border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; */
}

.item {
    margin: auto;
}

.name {
    position: absolute;
    z-index: 999;
    top: 25px;
    left: 170px;
}

.name > h1 {
    color: #300000;
    font-family: 'Kanit', sans-serif;
}
.name > p { 
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}



.details {
    height: 80px;
    margin-left: 1rem; 
    margin-right: 1rem; 
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.footer {
    display: flex; 
    align-items: center;
    padding: 0px 17px;
    padding-top: 5px;
    justify-content: space-between;
    border-top:2px solid #300000; 
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    /* border-top:2px solid rgb(70, 69, 69);  */
}






@media screen and (max-width: 1280px) {
    .main{
        margin-left: 45px;
        margin-right: 45px;
    }
    .box-item{
        margin-left: 45px;
        margin-right: 45px;
    }
}
@media screen and (max-width: 1080px) {
    .main{
        margin-left: 10px;
        margin-right: 10px;
    }
     
}
@media screen and (max-width: 1160px) { 
    .box-item{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.title>h1 {
    font-size: 70px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    .title>h1 {
        font-size: 50px;
        font-family: 'Kanit', sans-serif; 
    }    

}