 

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid #f5f5f5;
    background-color: #d62828;
    /* background: linear-gradient(transparent, #D62929) */
}

.text-small {
    font-size: 0.9rem;
}

.messages-box,
.chat-box {
    height: 510px;
    overflow-y: scroll;
}

.rounded-lg {
    border-radius: 0.5rem;
}

input::placeholder {
    font-size: 0.9rem;
    color: #999;
}
 


.bg-light {
    background-color: #fff2f2 !important;
}

.btn-link {
    color: #28d0d6;
}

.imgbox {

    margin-top: 90px;
    margin-left: 150px;

}

.fonttext {
    margin: 10px 30px;
    width: 400px;
    /* padding-left: 120px; */
    text-align: center;
    font-size: 18px;
}

.bg-primary {
    background-color: #fff2f2 !important;
}

.text-white {
    color: #6c757d !important;
}