 
.ftco-navbar-light {
  background: rgb(255, 255, 255) !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
  color: #505050;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  color: #e4e736 ;
  /* colorgb(221, 224, 24)fb2; */
}

.ftco-navbar-light .navbar-toggler {
  color: rgb(95, 91, 91) !important;
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
  color: #28d0d6 ;
  border: 10px;
}

.fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-link { 
  overflow: hidden;
}

.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.2s;
        
}
.nav-link span:before {
  position: absolute;
  top: 130%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
  
}
.nav-link:hover span {
  transform: translateY(-130%);
  
} 
::-webkit-scrollbar {
  width: 13px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid #f5f5f5; 
  background-color: #d62828 ;
  /* background: linear-gradient(transparent, #D62929) */
} 

.footers {
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #ea9393;
  color: white;
  text-align: center;
  justify-content: center;
}

button, p, h1, h2, h3, h4, h5, label, th, td {
  font-family: 'Kanit', sans-serif; 
  
}

.btn-light, span {
  font-family: 'Kanit', sans-serif; 
  font-weight: 300;
}