{% extends 'layout.html' %}
{% block title %} ข้อความ {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/Chatbox.css')}}">
{% endblock %}
{% block content %}


<br><br><br>
<div class="container">
    <br><br>

    <div class="row rounded-lg overflow-hidden shadow">
        <!-- Users box-->
        <div class="col-5 px-0">
            <div class="bg-white">


                <div class="messages-box">
                    {% if boxDetail %}
                    <div class="imgbox"> <img src="{{boxDetail.user_pic}}" alt="{{ boxDetail.user_name}}" width="150"
                            class="rounded-circle" style="box-shadow: 0px 0px 1px"></div>
                    <div class="fonttext">
                        <h3> {{boxDetail.user_name}}</h3>
                        {% if desc %}
                        <p> {{desc}}</p>
                        {% endif %}
                    </div>

                    {% else %}


                    <!-- START CHAT -->
                    <br><br><br>
                    <div class="imgbox"> <img src="{{startchat.pic}}" alt="{{startchat.fullname}}" width="150"
                            class="rounded-circle" style="box-shadow: 0px 0px 1px"></div>
                    <div class="fonttext">
                        <h3> {{startchat.fullname}} </h3>
                        <p> เริ่มต้นการสนทนาเลย </p>
                    </div>
                    {% endif %}


                </div>
            </div>
        </div>
        <!-- Chat Box-->
        <div class="col-7 px-0">
            <div id="content" class="px-4 py-6 chat-box bg-white">
                <br>

                {% for message in history %}

                {% if message.message == 'Xx_st4rt|r00m_xX' %}
                {% continue %}
                {% endif %}

                {% if message.sender_id == me %}
                <!-- sender -->
                <div class="media w-50 ml-auto mb-3">
                    <img src="{{message.pic}}" alt="{{ message.sender_id }}" width="50" class="rounded-circle">

                    <div class="media-body">
                        <div class="bg-primary rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-white">{{ message.message }}</p>
                        </div>
                        <p class="small text-muted">{{ message.date_time.strftime("%H:%M u. | %d %b ,%Y") }}</p>
                    </div>
                </div>

                {% else %}

                <div class="media w-50 mb-3">
                    <img src="{{message.pic}}" alt="{{ message.sender_id }}" width="50" class="rounded-circle">

                    <div class="media-body ml-3">
                        <div class="bg-light rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-muted">{{ message.message }}</p>
                        </div>
                        <p class="small text-muted">{{ message.date_time.strftime("%H:%M u. | %d %b ,%Y") }}</p>
                    </div>
                </div>


                {% endif %}

                {% endfor %}

            </div>

            <!-- Typing area -->
            <div class="bg-light">
                <div class="input-group">
                    <input id="chat_text" type="text" placeholder="Type a message" aria-describedby="chat_btn"
                        class="form-control rounded-0 border-0 py-4 bg-light">
                    <div class="input-group-append">
                        <button id="chat_btn" type="submit" class="btn btn-link"> <i
                                class="fa fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<input id="userid_input" class="input" type="hidden" value="{{me}}">

<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>



<script>

    $(function () {

        let sender_id;
        sender_id = $('#userid_input').val();

        $('#chat_btn').on('click', function () {

            let message = $('#chat_text').val();

            if (message != '') {
                $.post('/messages/send', { 'sender_id': sender_id, 'message': message }, function () {
                    $('#chat_text').val('');
                });
            }


        });



        Pusher.logToConsole = true;

        var pusher = new Pusher('37d67f096ee63c8b35d7', {
            cluster: 'ap1'
        });
        var channel = pusher.subscribe('{{rooms}}');

        channel.bind('new-message', function (data) {

            let name = data.sender_id;
            let message = data.message;
            let datetime = data.datetime;
            let pic = data.pic;
            let flags = data.flags;

            if (flags == me) {


                let message_template = `<div class="media w-50 ml-auto mb-3">
                                        <img src="${pic}" alt="${name}" width="50" class="rounded-circle">
                                        <div class="media-body">
                                            <div class="bg-primary rounded py-2 px-3 mb-2">
                                                <p class="text-small mb-0 text-white">${message}</p>
                                            </div>
                                            <p class="small text-muted">${datetime}</p>
                                        </div>
                                    </div>`;
                $('#content').append(message_template);
                objDiv.scrollTop = objDiv.scrollHeight;
            } else {
                let message_template = `<div class="media w-50 mb-3">
                                        <img src="${pic}" alt="${name}" width="50" class="rounded-circle">
                                        <div class="media-body ml-3">
                                            <div class="bg-light rounded py-2 px-3 mb-2">
                                                <p class="text-small mb-0 text-white">${message}</p>
                                            </div>
                                            <p class="small text-muted">${datetime}</p>
                                        </div>
                                    </div>`;
                $('#content').append(message_template);
                objDiv.scrollTop = objDiv.scrollHeight;
            }





        });

        let objDiv = document.getElementById("content");
        objDiv.scrollTop = objDiv.scrollHeight;

        let me = {{ session['id'] }};

    });

</script>

<script>
    var input = document.getElementById("chat_text");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("chat_btn").click();
        }
    });
</script>


{% endblock %}