{% extends 'layout.html' %}
{% block title %} แนะนำ {% endblock %}

{% block content %} 

{% if session['role'] == "youtuber" %} 
<br><h2>Partner ที่คณอาจกำลังมองหา</h2><br>
{% else %} 
<br><h2>Youtuber ที่น่าจับตามอง</h2><br>
{% endif %} 

{% for data in datas %}  

{% if session['role'] == "youtuber" %} 
<img src="/static/uploads/{{data.id}}/{{data.pic}}" alt="pic" style="max-width: 10%">

{% else %} 
<img src="{{data['pic']}}" alt="pic" style="max-width: 10%">
{% endif %} 
<a href="/visit/{{data['id']}}">click to visit id : {{data['id']}}</a>
<br><br>

{% endfor %} 

{% endblock %}