{% extends 'layout.html' %}

{% block content %}
<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

<div class="center" >

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Youtuber</h5>
                    <p class="card-text">If you need a support from the company to build your channel</p>
                    <a href="/register/youtuber" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sponsor</h5>
                    <p class="card-text">if you looking for influencer who can tie-in your business</p>
                    <a href="/register/sponsor" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
    </div>
 </div>


{% endblock %}