{% extends 'layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/Button.css')}}">
{% endblock %}

{% block title %} ค้นหา {% endblock %}

{% block content %}




<br><br><br><br>
<div class="container">
    <div align="center">
        <div style="width:500px">
            <div style="margin-top:20px; text-align:left">
                <p align="center">
                    <br>
                <h2>ป้อนรายชื่อที่ต้องการค้นหา</h2> 
                </p>
                <form action="/search/profile" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search"><br>

                        <button type="submit" class="btn btn-primary" id="send">&nbsp;&nbsp;&nbsp;ค้นหา&nbsp;&nbsp;&nbsp; </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}