{% extends 'layout.html' %}
{% block title %} Tags {% endblock %}

{% block content %}


<style>
    @media screen and (max-width: 768px) {
        .card-title {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 575px) {
        .card-title {
            font-size: 30px;
        }
    }
 
    h4 {
        color: #d62828;
    }
</style>
<br><br><br><br>
<div class='container'>

    {% if session["role"] == "sponsor" %}
    <div class="card-group">
        <div class="card">
            <a href="/search/tag/Entertainment">
                <img src="/static/tag/Entertainment.jpg" class="card-img-top" alt="..." >
            </a>
            <div class="card-body">
                <h4 class="card-title">ความบันเทิง</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Health">
                <img src="/static/tag/Health.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">สุขภาพ</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Education">
                <img src="/static/tag/Education.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">ให้ความรู้</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Lifestyle">
                <img src="/static/tag/Lifestyle.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">ไลฟ์สไตล์</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Travel">
                <img src="/static/tag/Travel.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">ท่องเที่ยว</h4>
            </div>
        </div>
    </div><br><br>





    <div class="card-group">
        <div class="card">
            <a href="/search/tag/Kids">
                <img src="/static/tag/Kids.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">สำหรับเด็ก</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Review">
                <img src="/static/tag/Review.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">รีวิว</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Tech">
                <img src="/static/tag/Tech.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">เทคโนโลยี</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Movie">
                <img src="/static/tag/Movie.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">ภาพยนต์</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Animation">
                <img src="/static/tag/Animation.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">อนิเมชั่น</h4>
            </div>
        </div>
    </div><br><br>







    <div class="card-group">
        <div class="card">
            <a href="/search/tag/Music">
                <img src="/static/tag/Music.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">เพลง</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/ASMR">
                <img src="/static/tag/ASMR.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">ASMR</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Food">
                <img src="/static/tag/Food.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">อาหาร</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Sport">
                <img src="/static/tag/Sport.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">กีฬา</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Game">
                <img src="/static/tag/Game.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">เกม</h4>
            </div>
        </div>
    </div><br><br>







    <div class="card-group">
        <div class="card">
            <a href="/search/tag/Beauty">
                <img src="/static/tag/Beauty.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">ความงาม</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Gossip">
                <img src="/static/tag/Gossip.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">ซุบซิบ</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/DIY">
                <img src="/static/tag/DIY.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">DIY</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Art">
                <img src="/static/tag/Art.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">ศิลปะ</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Podcast">
                <img src="/static/tag/Podcast.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">Podcast</h4>
            </div>
        </div>
    </div><br><br>







    <div class="card-group">
        <div class="card">
            <a href="/search/tag/Motivation">
                <img src="/static/tag/Motivation.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">แรงบันดาลใจ</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/History">
                <img src="/static/tag/History.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">ประวัติศาสตร์</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Science">
                <img src="/static/tag/Science.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">วิทยาศาสตร์</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/NEWS">
                <img src="/static/tag/NEWS.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">ข่าว</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div><br><br>

    {% else %}



    <div class="card-group">
        <div class="card">
            <a href="/search/tag/Product">
                <img src="/static/tag/Product.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">สินค้า</h4>
            </div>
        </div>
        <div class="card">
            <a href="/search/tag/Service">
                <img src="/static/tag/Service.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">บริการ</h4>
            </div>
        </div>
    </div><br><br>



    {% endif %}



</div>

{% endblock %}