{% extends 'layout.html' %}
{% block head %} {% endblock %}
{% block title %} ค้นหา {% endblock %}

{% block content %}
<br><br>

{% if session["role"] == "sponsor" %}
<div class="card-group">
    <div class="card">
        <a href="/search/tag/Entertainment">
            <img src="/static/1.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">ความบันเทิง</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Health">
            <img src="/static/2.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">สขภาพ</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Education">
            <img src="/static/3.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">ให้ความร้</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Lifestyle">
            <img src="/static/4.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">ไลฟ์สไตล์</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Travel">
            <img src="/static/2.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">ท่องเที่ยว</h5>
        </div>
    </div>
</div><br><br>





<div class="card-group">
    <div class="card">
        <a href="/search/tag/Kids">
            <img src="/static/1.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">สำหรับเด็ก</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Review">
            <img src="/static/3.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">รีวิว</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Tech">
            <img src="/static/4.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">เทคโนโลยี</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Movie">
            <img src="/static/2.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">ภาพยนต์</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Animation">
            <img src="/static/1.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">อนิเมชั่น</h5>
        </div>
    </div>
</div><br><br>







<div class="card-group">
    <div class="card">
        <a href="/search/tag/Music">
            <img src="/static/4.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">เพลง</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/ASMR">
            <img src="/static/1.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">ASMR</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Food">
            <img src="/static/2.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">อาหาร</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Sport">
            <img src="/static/3.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">กีฬา</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Game">
            <img src="/static/3.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">เกม</h5>
        </div>
    </div>
</div><br><br>







<div class="card-group">
    <div class="card">
        <a href="/search/tag/Beauty">
            <img src="/static/2.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">ความงาม</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Gossip">
            <img src="/static/3.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">ซบซิบ</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/DIY">
            <img src="/static/4.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">DIY</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Art">
            <img src="/static/1.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">ศิลปะ</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Podcast">
            <img src="/static/3.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">Podcast</h5>
        </div>
    </div>
</div><br><br>



  



<div class="card-group">
    <div class="card">
        <a href="/search/tag/Motivation">
            <img src="/static/2.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">แรงบันดาลใจ</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/History">
            <img src="/static/4.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">ประวัติศาสตร์</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Science">
            <img src="/static/2.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">วิทยาศาสตร์</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/NEWS">
            <img src="/static/1.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">ข่าว</h5>
        </div>
    </div> 
    <div class="card">
        <div class="card-body">
        </div>
    </div> 
</div><br><br>

{% else %}



<div class="card-group">
    <div class="card">
        <a href="/search/tag/Product">
            <img src="/static/3.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">สินค้า</h5>
        </div>
    </div>
    <div class="card">
        <a href="/search/tag/Service">
            <img src="/static/1.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 class="card-title">บริการ</h5>
        </div>
    </div>
</div><br><br>



{% endif %}





{% endblock %}