{% extends 'layout.html' %}
{% block title %} ค้นหา {% endblock %}

{% block content %}
<style>
    .pf {
        vertical-align: middle;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
</style>
 

{%for row in datas%}

{% if session['role'] == "youtuber" %} 
<img src="/static/uploads/{{row['id']}}/{{row['pic']}}" class="pf">
<br><br>   
{% else %}
<img src="{{row['pic']}}" alt="pic" style="max-width: 10%">
<br><br>
{%endif%}



<a href="/visit/{{row['id']}}">{{row["fullname"]}} / {{row["id"]}}</a>

<br><br>



{%endfor%}

{% endblock %}